@font-face {
    font-family: anfisagrotesk;
    src: url(../fonts/anfisagrotesk.ttf);
}
@font-face {
    font-family: boomboom;
    src: url(../fonts/boomboom.ttf);
}
body{
    margin: 0;
    padding: 0;
}
.wrapper{
    margin: 0;
    padding: 0;
}
.resize{
    margin: 0 25% 0 25%;
}
/*----------------РЕЄСТРАЦІЯ АВТОРИЗАЦІЯ------------*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: auto;
}
.popup {
    top: 25%;
    left: 0;
    right: 0;
    font-size: 14px;
    margin: auto;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: absolute;
    padding: 15px 20px;
    border: 4px solid #17001F;
    background: linear-gradient(to bottom right, #fff, #CC66FF);
    z-index: 1000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}
.open{
    font-family: Impact;
    font-size: 18px;
    padding: 15px;
    color: #ffffff;
    background: linear-gradient(to top, #17001F,#9900CC) ;
    border: none;
    cursor: pointer;
    outline: none;
}
.open:hover{
    background: linear-gradient(to top,#9900CC,#17001F);
    outline: none;
}

.stop{
    color: red;
    font-size: 14px;
}
.labbox{
    font-family: Helvetica;
    font-size: 16px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#labbox1{
    margin-right: 15px;
    margin-left: 168px;
}
#labbox2{
    margin-right: 15px;
    margin-left: 150px;
}
#labbox3{
    margin-right: 15px;
    margin-left: 67px;
}
#labbox4{
    margin-right: 15px;
    margin-left: 178px;
}

.close {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: absolute;
    border: none;
    background-color: red;
    color: #FFFFFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    outline: none;

}
.close:before {
    content: "X";
}
/*----------------header----------------*/
.main_header{
    background-image: url("/images/backhead.jpg");
    background-size: 100% 100%;
    height: 440px;
    width: 100%;
}
.main_header div{
    width: 100%;
}
.log_in{
    height: 80px;
}
.log_in button{
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    float: right;
    margin: 15px 25px 0 0;
    background-color: #9900CC;
    font-family: boomboom;
}
.log_in button:hover{
    background-color: #BE00CC;
    cursor: pointer;
}
.logo{
    height: 270px;
}
.logo .img-logo{
    width: 200px;
    margin: 35px 20px 35px 35px;
    float: left;
}
.logo h1{
    width: 80%;
    float: right;
    text-align: left;
    font-size: 110px;
    font-family: anfisagrotesk;
    background: -moz-linear-gradient(#FFFFFF,#9900CC);
    background: -webkit-linear-gradient(#FFFFFF,#9900CC);
    background: -o-linear-gradient(#FFFFFF,#9900CC);
    background: -ms-linear-gradient(#FFFFFF,#9900CC);
    background: linear-gradient(#FFFFFF,#9900CC);
    -webkit-background-clip: text;
    color: transparent;
    margin: 55px 0 55px 0;
}
.menu{
    height: 90px;
}
.menu ul{
    margin: 20px 0 0 0;
    float: right;
}
.menu ul li{
    display: inline;
    list-style: none;
    padding: 0 20px 0 20px;
    margin: 26px 0 26px 0;
    font-size: 34px;
    /*border-bottom: 5px inset #9900CC;*/
}
.menu ul li a{
    text-decoration: none;
    font-family: boomboom;
    color: #FFFFFF;
    padding: 23px 0 23px 0;
    /*border-bottom: 5px inset #9900CC;*/
}
.menu ul li a:hover{
    border-bottom: 8px inset #9900CC;
    color: #9900CC;
}
/*---------------footer-----------------*/
footer{
    margin: 0;
    padding: 20px 0 0 0;
    width: 100%;
    height: 50px;
    background-color: #17001F;
}
footer p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #9900CC;
    width: 42%;
}
footer .copyrright{
    float: left;
    padding-left: 100px;
}
footer .namesite{
    float: right;
    text-align: right;
    padding-right: 100px;
}
/*----------------INDEX----------------*/
.content{
    margin: 0;
    padding: 0;
    background: -moz-linear-gradient(to bottom left,#FFFFFF,#CC66FF);
    background: -webkit-linear-gradient(to bottom left,#FFFFFF,#CC66FF);
    background: -o-linear-gradient(to bottom left,#FFFFFF,#CC66FF);
    background: -ms-linear-gradient(to bottom left,#FFFFFF,#CC66FF);
    background: linear-gradient(to bottom left,#FFFFFF,#CC66FF);
    -webkit-background-clip: content-box;
}
.inform{
    margin-left: 10px;
    height: 220px;
}
.inform img{
    width: 45%;
    margin-left: 10px;
}
.date{
    padding: 0;
    margin: 0 0 5px 5px;
    font-size: 14px;

}
.name_block{
    border-left: 5px solid;
    border-color: #9900CC;

}
.name_block h2{
    padding: 0 0 0 10px;
    text-align: left;
    margin: 0 0 10px 0;
}
.first{
    padding-top: 10px;
}